<h1>Listing advertises</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Photo file name</th>
    <th>Photo content type</th>
    <th>Photo file size</th>
    <th>Photo updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @advertises.each do |advertise| %>
  <tr>
    <td><%= advertise.business_type %></td>
    <td><%= advertise.photo_file_name %></td>
    <td><%= advertise.photo_content_type %></td>
    <td><%= advertise.photo_file_size %></td>
    <td><%= advertise.photo_updated_at %></td>
    <td><%= link_to 'Show', advertise %></td>
    <td><%= link_to 'Edit', edit_advertise_path(advertise) %></td>
    <td><%= link_to 'Destroy', advertise, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Advertise', new_advertise_path %>
