<%= form_for(@newstuff) do |f| %>
  <% if @newstuff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newstuff.errors.count, "error") %> prohibited this newstuff from being saved:</h2>

      <ul>
      <% @newstuff.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mystuff %><br />
    <%= f.text_field :mystuff %>
  </div>
  <div class="field">
    <%= f.label :yourstuff %><br />
    <%= f.text_field :yourstuff %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
