<h1>Listing newstuffs</h1>

<table>
  <tr>
    <th>Mystuff</th>
    <th>Yourstuff</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @newstuffs.each do |newstuff| %>
  <tr>
    <td><%= newstuff.mystuff %></td>
    <td><%= newstuff.yourstuff %></td>
    <td><%= link_to 'Show', newstuff %></td>
    <td><%= link_to 'Edit', edit_newstuff_path(newstuff) %></td>
    <td><%= link_to 'Destroy', newstuff, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Newstuff', new_newstuff_path %>
