<p id="notice"><%= notice %></p>

<p>
  <b>Mystuff:</b>
  <%= @newstuff.mystuff %>
</p>

<p>
  <b>Yourstuff:</b>
  <%= @newstuff.yourstuff %>
</p>


<%= link_to 'Edit', edit_newstuff_path(@newstuff) %> |
<%= link_to 'Back', newstuffs_path %>
