<div class='content list'>
  <h2>Users</h2>
  <table>
    <tr>
      <th>Email</th>
      <th>Roles</th>
      <th>Last Signed In</th>
      <th>Actions</th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>      
        <td><%= user.roles.join(', ') %></td>      
        <td><%= user.last_sign_in_at.stamp("Jan 1 at 01:00 am") %></td>      
        <td class='actions'><%= link_to 'Show', user %> | <%= link_to 'Edit', edit_user_path(user) %> | <%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>

  <%= link_to 'New user', new_user_path %>
</div>