<p>
  * <%= f.label :address, "Street Address" %><br />
  <%= f.text_field :address, :class => 'input_form_field' %>
</p>
<p>
  * <%= f.label :city %><br />
  <%= f.text_field :city, :class => 'input_form_field' %>
</p>

<p>
  * <%= f.label :state %><br />
  <%= f.text_field :state, :class => 'input_form_field' %>
</p>

<div id='coordinate-fields'>
  <p>
     <b>Use the fields below with care!!</b></br>
     New values for latitude and longitude will override automatic geocoding. 
     Enter the correct values here if the generated values are not correct.<br/>
     By the same token, updating the location's street address, city, or state, or
     clearing the latitude or longitude, will force automatic geocoding.
  </p>
  <p>
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude, :class => 'input_form_field' %>
  </p>

  <p>
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude, :class => 'input_form_field' %>
  </p>
</div>

