<div data-role='header'>
  <h1><%= @location.name.titleize %></h1>
</div>
<div id='mobile-detail' data-role='content'>
  <%= hidden_field_tag :origin_lat, @geocode.first, :id => :origin_lat %>
  <%= hidden_field_tag :origin_lng, @geocode.last, :id => :origin_lng %>
  <%= hidden_field_tag :dest_lat, @location.geo_code.first, :id => :dest_lat %>
  <%= hidden_field_tag :dest_lng, @location.geo_code.last, :id => :dest_lng %>
  <div id='mobile-map'>MAP</div>
  <div id='mobile-full-address'><%= @location.full_address %></div>
  <div id='mobile-twitter-status'>
    <img src='/images/twitter-logo.jpg'/>
    <%= @twitter_status.text if @twitter_status %>
  </div>
  <div id='mobile-facebook-status'><%= @facebook_status.message if @facebook_status %></div>
  <div id='mobile-twitter-mentions'>
    <% if @twitter_mentions && !@twitter_mentions.empty? -%>
      <h3>What People Are Saying</h3>
      <ul data-role='listview' data-inset='true'>
        <% for tweet in @twitter_mentions -%>
          <li class='mobile-twitter-mention' style="display:none">
            <img src="<%= tweet.profile_image_url %>" class="ul-li-thumb"/>
            <p class='ul-li-desc twitter-mention'><%= tweet.text %></p>
            <p class='ul-li-desc tweeted-at'><%= time_ago_in_words(tweet.created_at) %> ago</p>
          </li>
        <% end -%>
      </ul>
      <div id='twitter-mention-control' data-role='controlgroup' data-type='horizontal' class='center-wrapper'>
        <a href='#' id='prev-tweet' data-role='button' data-icon='arrow-l'>Prev</a>
        <a href='#' id='next-tweet' data-role='button' data-icon='arrow-r'>Next</a>
      </div>
    <% end -%>
  </div>
</div>