<%= form_for(@ad_tracking) do |f| %>
  <% if @ad_tracking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad_tracking.errors.count, "error") %> prohibited this ad_tracking from being saved:</h2>

      <ul>
      <% @ad_tracking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ip_address %><br />
    <%= f.text_field :ip_address %>
  </div>
  <div class="field">
    <%= f.label :business_name %><br />
    <%= f.text_field :business_name %>
  </div>
  <div class="field">
    <%= f.label :advertise_id %><br />
    <%= f.number_field :advertise_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
