<p id="notice"><%= notice %></p>

<p>
  <b>Address ip:</b>
  <%= @ad_tracking.id_address %>
</p>

<p>
  <b>Business name:</b>
  <%= @ad_tracking.business_name %>
</p>

<p>
  <b>Advertise:</b>
  <%= image_tag @ad_tracking.advertise.photo.url(:thumb) %> 
</p>


<%= link_to 'Edit', edit_ad_tracking_path(@ad_tracking) %> |
<%= link_to 'Back', ad_trackings_path %>
