<%= form_for @location, :html => {:name => "location_name"} do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>
      <ul>
        <% @location.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field" id="bus_name">
    * <%= f.label :name, "Business name" %><br />
    <%= f.text_field :name, "data-pre" => params[:action].eql?("edit") ? @pages.to_json : @pages.to_json %>
  </div>

  <%= render :partial => 'shared/address_form', :locals => {:f => f} %>

  <p>
    <%= link_to( "Map Location", google_map_url(@location), :target => :new ) %>
  </p>

  <div class="field">
    <%= f.label :phone %><br/>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    * <%= f.label :types %><br/>
    <%= grouped_collection_select(
      :location, :types, LocationCategory.all, :types, :name, :to_s, :humanize,
      {:include_blank => true}, html_options = {}) %>
  </div>

  <div class="field">
    <%= f.label :twitter_name %><br />
    <%= f.text_field :twitter_name %>
  </div>

  <div class="field" id="face_id">
    <%= f.label :facebook_page_id %><br />
    <%= f.text_field :facebook_page_id, "data-pre" => params[:action].eql?("edit") ? @pages.to_json : @pages.to_json %>    
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class='field' id='reference'>
    <%= f.label :reference, "Google Places Reference ID" %><br/>
    <%= f.text_area :reference, :disabled => true %>
  </div>

  <div class="actions">
    <input value="<%= "#{params[:action] == 'edit' ? 'Update' : 'Create'} Location"%>" type="button" />
  </div>
<% end %>
