<% content_for :javascripts do %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>    
  <script type="text/javascript">        
    function initialize() {
      var latlng = new google.maps.LatLng(<%= location['lat'] %> , <%= location['lng'] %>);
    
      var myOptions = {zoom: 18, center: latlng, mapTypeId: google.maps.MapTypeId.ROADMAP};
 
      var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);    
        
      
      var myLatLng = new google.maps.LatLng(<%= location['lat'] %>, <%= location['lng'] %>);
  
      var marker = new google.maps.Marker({position: myLatLng, map: map, title: 'Click me' });
  
      var contentString  = "<b><%= raw business_name %></b> <%= rating_info %> \n";
      if ("<%= twitter_feed %>" !=  "") {
        contentString += "<br/><img src='/images/twitter-logo.jpg' style='vertical-align:bottom;'/>";
        contentString += "<a href=\"http://twitter.com/<%= @location.twitter_name %>/status/<%= @last_tweet['id'] %>\" target=\"_blank\"><%= twitter_feed %></a>";
      }
          
      if ("<%= facebook_feed %>" !=  "") {
        contentString += "<br/><img src='/images/facebook-logo.png'  style='vertical-align:bottom'/>"
        contentString += "<a target='_blank' href='http://www.facebook.com/<%= @location.facebook_page_id %>'><%= facebook_feed %></a>";
      }
      
      var infowindow = new google.maps.InfoWindow({ content: contentString, position: latlng});
        
      infowindow.open(map, marker); 
    }
  </script>
<% end %>
<div id="detail">  
  <br/><br/>
  <div id="map_canvas"></div>
  <div id="people_saying">
    <table class="tweet_result">
      <% @people_saying['results'].first(8).each do |say| %>
        <tr>
          <td>
            <a href="http://twitter.com/<%= say['from_user'] %>" target="_blank">
              <img src="<%= say["profile_image_url"] %>" />
            </a>
          </td>
          <td>
            <a href="http://twitter.com/<%= say['from_user'] %>/status/<%= say['id'] %>" target="_blank">
              <%= say["text"] %>
            </a>
          </td>
        </tr>
      <% end %>
    </table>  
  </div>
  <br/><br/>
</div>