<% content_for :javascripts do %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>    
  <script type="text/javascript">        
    function initialize() {
      var latlng = new google.maps.LatLng(<%= location['lat'] %> , <%= location['lng'] %>);
    
      var myOptions = {zoom: 18, center: latlng, mapTypeId: google.maps.MapTypeId.ROADMAP};
 
      var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);    
        
      
      var myLatLng = new google.maps.LatLng(<%= location['lat'] %>, <%= location['lng'] %>);
  
      var marker = new google.maps.Marker({position: myLatLng, map: map, title: 'Click me' });
  
      var contentString = "<b><%= raw business_name %></b> <%= rating_info %> \n" +
          "<br/><img src='/images/twitter-logo.jpg' style='vertical-align:bottom'/><%= raw @last_tweet %>" +
          "<br/><img src='/images/facebook-logo.png'  style='vertical-align:bottom'/><%= raw @last_post %>";

      var infowindow = new google.maps.InfoWindow({ content: contentString, position: latlng});
        
      infowindow.open(map, marker);
    }
  </script>
<% end %>
<h2>Details </h2>
<li> <%= location['lat']%> , <%= location['lng']%> </li>
<li><%= @newtweets %></li>
<div id="map_canvas"></div>
