<% content_for :javascripts do %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>  
  <script type="text/javascript">
    var directionDisplay;
    var directionsService = new google.maps.DirectionsService();
    var map;
    var marker;
    var bussiness_address;
    function initialize() {
      directionsDisplay = new google.maps.DirectionsRenderer();
      var latlng = new google.maps.LatLng(<%= location[0] %> , <%= location[1] %>);
      bussiness_address = new google.maps.LatLng(<%= location[0] %> , <%= location[1] %>);
      var myOptions = {
        zoom:18,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        center: bussiness_address
      }
      map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      directionsDisplay.setMap(map);
      directionsDisplay.setPanel(document.getElementById('directions-panel'));
            
      //marker = new google.maps.Marker({position: bussiness_address, map: map, title: 'Click me' });
  
      var contentString  = "<b><%= raw business_name %></b> <%= rating_info %> \n";


  <% unless twitter_feed.blank? %> 
      contentString += "<table style='width:400px;margin-bottom:0px !important;'><tr><td style='padding:0px;width:20px;'><img src='/images/twitter-logo.jpg'/></td>";
      contentString += "<td><a href=\"http://twitter.com/<%= @last_tweet.first['user']['screen_name'] unless @last_tweet.blank? %>/status/<%= @last_tweet.first['id'] unless @last_tweet.blank? %>\" target=\"_blank\"><%= twitter_feed.html_safe %></a></td></tr></table>";
  <% end %>

  <% unless facebook_feed.blank? %> 
      contentString += "<table style='width:400px;margin-bottom:0px !important;'><tr><td style='padding:0px;width:20px;'><img src='/images/facebook-logo.png'/></td>"
      contentString += "<td><a target='_blank' href='http://www.facebook.com/<%= @location.facebook_page_id  unless @location.blank? %>'><%= facebook_feed.html_safe %></a></td></tr></table>";
  <% end %>
    
    var infowindow = new google.maps.InfoWindow({ content: contentString, position: latlng});
        
    infowindow.open(map, marker); 
      
      
    var request = {
      origin: "<%= cookies[:address].gsub("&", ",") unless cookies[:address].blank? %>",
      destination: bussiness_address,
      travelMode: google.maps.DirectionsTravelMode.WALKING
    };
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
      }
    });
      
    //directionsDisplay.setMap(map);
  }
  
  function calcRoute() {
    marker.setMap(null);
    var start = document.getElementById('start').value;
      
    var end = document.getElementById('end').value;
    if (end == "") {
      end = bussiness_address;
    }
    var request = {
      origin: start,
      destination: end,
      travelMode: google.maps.DirectionsTravelMode.WALKING
    };
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
      }
    });
  }    
  google.maps.event.addDomListener(window, 'load', initialize);
  </script>
<% end %>

<div>  
  <input type="hidden" id="end" value="<%= @origin_address %>" />  
  <input type="hidden" id="start" value="<%= cookies[:address].gsub("&", ",") unless cookies[:address].blank? %>"/>  
  <input type="hidden" id="route" />
</div>  

<div id="detail">  
  <br/><br/>
  <div class="back_index"><%= link_to 'Back', locations_path %></div>
  <div id="directions-panel">
    <%= @origin_address %>
  </div>
  <div id="map_canvas"></div>
  <% unless @advertise.blank? %>
    <%= image_tag @advertise.photo.url(:medium), :style => "margin: -510px 0 0 120px; position:relative" %>
  <% end %>

  <% unless @user_saying.blank? %>
    <div id="people_saying">
      <table class="tweet_result">      
        <% @user_saying['results'].first(8).each do |user_say| %>
          <tr>
            <td>
              <a href="http://twitter.com/<%= user_say['chescababy'] %>" target="_blank">
                <img src="<%= user_say["profile_image_url"] %>" />
              </a>
            </td>
            <td>
              <a href="http://twitter.com/<%= user_say['from_user'] %>/status/<%= user_say['id_str'] %>" target="_blank">
                <%= user_say["text"] %>
              </a>
            </td>
          </tr>
        <% end %>       
      </table>  
    </div>
  <% end %>
  <br/><br/>
</div>
<script>
  $("#route").click();
</script>