
<h1>Listing Index </h1>
<html>

	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map_canvas { height: 100% }
</style>
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=true">
</script>
<script type="text/javascript">
        
    function initialize() {
    	
    	   var latlng = new google.maps.LatLng(<%= @latlng[0]%> ,<%= @latlng[1]%>  );
    	   var latlng2 = new google.maps.LatLng(<%= @latlng[0]%> ,<%= @latlng[1]%>  );
    	   
    
    var myOptions = {
      zoom: 18,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
 
  var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);    
       
  var marker = new google.maps.Marker({
      position: latlng,
      map: map,
      title: 'Click me'
        });
        
         var marker2 = new google.maps.Marker({
      position: latlng2,
      map: map,
      title: 'Click me'
        });
        
  }
</script>
	</head>
	
<body onload="initialize()">
	<%=@resultscount %>
		<div class="span-8"><table>
		<tr>
	<% form_tag locations_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %></tr>
		<tr>
<% @locations.each do |location| %>
  <ul>
    <li><%= link_to location.name, :action => 'details', :id => location.id %> -  <img src="http://www.1nservice.com/uploadedImages/1NService/Home/twitter_logo.jpg" width="22"/>  <%= link_to 'Edit', edit_location_path(location) %>
    <%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %>></li>
</ul>
  </tr>

<% end %>
<% i = 0 %>
	<%   while (i < @resultscount)%>
	<ul>
		<li> <%= link_to @features['results'][i]['name'], :action => 'details',  :reference => @features['results'][i]['reference']%></li>
	</ul> 
	<% i += 1 %>
<% end %>
	


</table></div>
<div classs ="span-8" id="map_canvas" style="width:60%; height:60%"></div>




