<% if is_mobile_view? %>
  Mobile Version
<% else %>
<%= render "script" %>

<div class="span-15" style="float: left;">
  <div class="whitebox">        
    <%= render 'search' %>            
    <div id="locations">
      <%= render 'locations' %>   
    </div>        
    <div id="near_your_locations">
      <%= render 'near_your_locations' %>
    </div>
  </div>
</div>
<div style="float: right;">
  <%= render 'map' %>

  <%= render 'events' %>

  <div class="deals">
    <span><h2>Daily Deals</h2></span>
    <div id="deal_ajax_load">
      <img src="/images/ajax-loader.gif" />
    </div>
    <div id="yipit_deal">
      
    </div>    
  </div>
</div>

<script>  
  $('#yipit_deal').load("/load_deals", function() {
    $("#deal_ajax_load").hide();
  });
</script>
<% end %>

