<div class="span-15" style="float: left;">
  <div class="whitebox">        
    <%= render 'search' %>            
    <div id="locations">
      <%= render 'locations' %>   
    </div>        
    <div id="near_your_locations">
      <%= render 'near_your_locations' %>
    </div>
  </div>
</div>
<div style="float: right;">
  <%= render 'map' %>
  <div class="events_index">
    <h2>Events</h2>
    <% @events.each do |event| %>
      <div style="border-bottom: 1px dotted gray;">
        <b><%= event.name %> -  <%= event.address %></b><br/>
        <%= event.description %><br/>
      </div>    
      <br/>
    <% end %>
  </div>
  
  <% begin %>
  <div class="deals">
    <h2>Daily Deals</h2>
    <% @deals['root']['response']['deals']['list_item'].each do |deal| %>
      <div style="border-bottom: 1px dotted gray;">
        <a href="<%= deal['url'] %>" target="_blank">
          <%= deal['yipit_title'] %>
        </a>
      </div>
    <% end %>
    <br/>
  </div>
  <% rescue %>
  <% end %>
</div>


