<div class='content list'>
  <h2>Locations</h2>

  <div class='input_form'>
    <%= form_tag locations_path, :method => 'get' do %>
      Find a place to <%= select_tag :general_type, options_for_select(LocationCategory.all.map(&:name), @general_type), :include_blank => true %>
      within <%= select_tag :radius, options_for_select([1,5,10,20], @radius), :include_blank => true %> miles
      of <%= text_field_tag :address, @address, :size => 40 %><br/><br/>
      Named <%= text_field_tag :name, @name, :size => 40 %>
      ordered by <%= select_tag :order, options_for_select([ ['Name','name'],['Distance','distance'],['Address','address'],['Twitter Name','twitter_name'],['Facebook Page','facebook_page_id'],['Verified On','verified_on'] ], @order) %><br/><br/>
      needing verification <%= check_box_tag :to_verify, 'true' %>, to geocode <%= check_box_tag :to_geocode, 'true' %>, with status <%= select_tag :active, options_for_select(%w(All Active Inactive)) %><br/>
      <p>
      <%= submit_tag "Search", :style => 'float:right' %>
      </p>
    <% end %>
  </div>
  
  <%= will_paginate @locations %>
  <table id="locations">
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>Distance</th>
      <th>Address</th>
      <th>Type</th>
      <th>Twitter</th>
      <th>Facebook</th>
      <th>Verified</th>
      <th>Actions</th>
    </tr>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= location.active %></td>
        <td><%= "#{number_with_precision(location.distance, :precision => 1)} miles" if location.respond_to?(:distance) %></td>
        <td><%= location.address %></td>
        <td><%= location.general_type %></td>
        <td><%= location.twitter_name %></td>
        <td><%= location.facebook_page_id %></td>
        <td class='centered'><%= location.verified? ? "&#10004;".html_safe : '' %>
        <td class='actions'>
          <%= link_to "Show", location_details_path(:reference => location.reference) %>&nbsp;|&nbsp;
          <%= link_to "Edit", edit_location_path(location) %>&nbsp;|&nbsp;
          <%= button_to "Delete", location_path(location), :method => :delete, :confirm => "Are you sure you want to delete this location?" %>
        </td>
      </tr>
    <% end -%>
  </table>
  <%= will_paginate @locations %>
  <%= link_to 'New Location', new_location_path %>
</div>