<div id ="HeaderInfo" classs="span-24"> 
  <br/>
  <div class="span-23" style="background: #00aad2; color: white; margin-bottom: 7px; padding-left: 40px" >
    <span id='searchbox'>
      <%= form_tag locations_path, :method => 'get' do %>
        Find a place to <%= select_tag :general_type, options_for_select(LocationCategory.all.map(&:name), @general_type), :include_blank => true %>
        within <%= select_tag :radius, options_for_select([1,5,10,20], @radius), :include_blank => true %> miles
        of <%= text_field_tag :address, @address, :size => 40 %>
        named <%= text_field_tag :name, @name, :size => 40 %>
        <%= submit_tag "Search" %>
      <% end %>
    </span>
  </div>
  <br/>
</div>

<div>
  <table id="locations">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Type</th>
      <th>Twitter Name</th>
      <th>Facebook Page</th>
      <th>Actions</th>
    </tr>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, location_path(location) %></td>
        <td><%= location.address %></td>
        <td><%= location.general_type %></td>
        <td><%= location.twitter_name %></td>
        <td><%= location.facebook_page_id %></td>
        <td>
          <%= link_to "Edit", edit_location_path(location) %>&nbsp;
          <%= link_to "Delete", location_path(location), :method => :delete, :confirm => "Are you sure you want to delete this location?" %>
        </td>
      </tr>
    <% end -%>
  </table>
</div>