<%= render "script" %>

<div class="span-15" style="float: left;">
  <div class="whitebox">        
            
    <div id="locations">
      <% @locations.each do |location| %>
        <ul class="<%= location.reference %>">
          <li class="alternate"><%= link_to location.name, :action => 'details', :address => location.full_address,  :bizname => location.name , :reference => location.reference %> -  <%= location.address %><img src="/images/twitter-logo.jpg" width='12'/>
            <% unless current_user.blank? %>
              <% if current_user.role.eql? "Admin" or current_user.id.eql?(location.user_id) %>
                <%= link_to 'Edit', edit_location_path(location) %>
                <%= link_to 'Delete', location, :confirm => 'Are you sure?', :method => :delete %>
              <% end %>
            <% end %>
          </li>
        </ul>
      <% end %> 
    </div>        
    <div id="near_your_locations">
      <% @places.each do |place| %>
        <ul class="<%= place.reference %>">
          <li> 
            <%= link_to place.name, :action => 'details', :reference => place.reference %> 
            <%= "- #{place.vicinity}" if place.vicinity %>
            <% if !current_user.blank? and current_user.role.eql? "Admin" %>
              <%= link_to "Delete", "#", :class => "delete_location", :id => place.reference %>
              <image src="/images/ajax-loader.gif" style="display: none;" class="img_<%= place.reference %>"/>
              <span style="color:red;" class="error_<%= place.reference %>"></span>
            <% end %>
          </li>
        </ul>   
      <% end %>
    </div>
  </div>
</div>
<div style="float: right;">
  <%= render 'map' %>
  <div class="events_index">
    <h2 class='header'>Events</h2>
    <% unless @events.blank? %>
      <% @events.each do |event| %>
        <div class='event_item'>
          <p class='event_title'><%= event.name %> - <%= event.address %></p>
          <p class='event_desc'><%= event.description %></p>
        </div>
      <% end -%>
    <% else -%>
      No events near you right now. 
      <% if !current_user.blank? and current_user.role.eql? "Admin" -%>
        <a href="/events/new"> Create an event </a>
      <% end -%>
    <% end -%>
  </div>

  <div class="deals">
    <h2 class='header'>Daily Deals</h2>
    <div id="deal_ajax_load">
      <img src="/images/ajax-loader.gif" />
    </div>
    <div id="yipit_deal">
    </div>    
  </div>

</div>

<script>  
  $('#yipit_deal').load("/load_deals", function() {
    $("#deal_ajax_load").hide();
  });
</script>


