<%= render "script" %>
<div id ="HeaderInfo" classs="span-24"> 
  <br/>
  <div class="span-23" style="background: #00aad2; color: white; margin-bottom: 7px; padding-left: 40px" >
    <span id='searchbox'>
      <%= form_tag locations_path, :method => 'get' do %>
        Find a place to <%= select_tag :types, options_for_select(LocationCategory.all.map(&:name), params[:types]) %>  near 
        <%= text_field_tag :search, @search, :id => "searchTextField", :size => 50 %>  
        <%= submit_tag "Search", :name => nil %>
      <% end %>
    </span>
  </div>
  <br/>
</div>     

<div class="span-15" style="float: left;">
  <div class="whitebox">        
            
    <div id="locations">
      <% @locations.each do |location| %>
        <ul>
          <% if Location === location -%>
            <li class="recent_tweet_<%= location.recent_tweet? %>">
              <%= link_to location.name, :action => 'details', :address => location.full_address,  :bizname => location.name , :type => location.types, :reference => location.reference %> -  <%= location.address %><img src="/images/twitter-logo.jpg" width='12'/>
              <% unless current_user.blank? %>
                <% if current_user.role.eql? "Admin" or current_user.id.eql?(location.user_id) %>
                  <%= link_to 'Edit', edit_location_path(location) %>
                  <%= link_to 'Delete', location, :confirm => 'Are you sure?', :method => :delete %>
                <% end %>
              <% end %>
            </li>
          <% else -%>
            <li class='<%= location.reference %>'> 
              <%= link_to location.name, :action => 'details', :reference => location.reference %> 
              <%= "- #{location.vicinity}" if location.vicinity %>
              <% if !current_user.blank? and current_user.role.eql? "Admin" %>
                <%= link_to "Delete", "#", :class => "delete_location", :id => location.reference %>
                <image src="/images/ajax-loader.gif" style="display: none;" class="img_<%= location.reference %>"/>
                <span style="color:red;" class="error_<%= location.reference %>"></span>
              <% end %>
            </li>
          <% end -%>
        </ul>
      <% end %>
    </div>
  </div>
</div>
<div style="float: right;">
  <div id="maps"></div>
  <div class="events_index">
    <h2 class='header'>Events</h2>
    <% unless @events.length == 0 %>
      <% @events.each do |event| %>
        <div class='event_item'>
          <h3><%= event.name %></h3>
          <ul class='event-details'>
            <li class='event-desc'><%= event.description %></li>
            <li class='event-dates'>From <span class='event-date'><%= event.start_date.stamp("Jan 1 at 01:00 am") %></span> to <span class='event-date'><%= event.end_date.stamp("Jan 1 at 01:00 am") %></span></li>
            <li class='event-address'><%= event.address %></li>
            <li class='event-distance'>(<%=  number_with_precision(event.distance, :precision => 1) %> miles from here)</li>
          </ul>
        </div>
      <% end -%>
    <% else -%>
      No events near you right now. 
      <% if !current_user.blank? and current_user.role.eql? "Admin" -%>
        <a href="/events/new"> Create an event </a>
      <% end -%>
    <% end -%>
  </div>

  <div class="deals">
    <h2 class='header'>Daily Deals</h2>
    <div id="deal_ajax_load">
      <img src="/images/ajax-loader.gif" />
    </div>
    <div id="yipit_deal">
    </div>    
  </div>

</div>

<script>  
  $('#yipit_deal').load("/load_deals", function() {
    $("#deal_ajax_load").hide();
  });
</script>


