<% content_for :javascripts do %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>  
  <script type="text/javascript">
    var directionDisplay;
    var directionsService = new google.maps.DirectionsService();
    var map;
    var marker;
    var bussiness_address;
    function initialize() {
      directionsDisplay = new google.maps.DirectionsRenderer();
      var latlng = new google.maps.LatLng(<%= @location.coordinates.first %> , <%= @location.coordinates.last %>);
      bussiness_address = latlng;
      var myOptions = {
        zoom:10,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        center: bussiness_address
      }
      map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      directionsDisplay.setMap(map);
      directionsDisplay.setPanel(document.getElementById('directions-panel-detail'));
            
      //marker = new google.maps.Marker({position: bussiness_address, map: map, title: 'Click me' });
  
      var contentString  = "<b><%= raw @location.name %></b><%= rating_info(@location) %>";
    
      var infowindow = new google.maps.InfoWindow({ content: contentString, position: latlng, maxWidth: 50});        
      //infowindow.open(map, marker); 
      
      var request = {
        origin: "<%= cookies[:address].gsub("&", ",") unless cookies[:address].blank? %>",
        destination: bussiness_address,
        travelMode: google.maps.DirectionsTravelMode.WALKING
      };
      directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay.setDirections(response);
        }
    });
  }
  
  google.maps.event.addDomListener(window, 'load', initialize);
  </script>
<% end %>

<div style="display:none">
  <input type="hidden" id="end" value="<%= @origin_address %>" />  
  <input type="hidden" id="start" value="<%= cookies[:address].gsub("&", ",") unless cookies[:address].blank? %>"/>  
  <input type="hidden" id="route" />
</div>  

<div class="content"><!--content start-->
  <div class="content_left"><!--content_left start-->
    <div class="left_top">
      <h2><%= @location.name %>
        <% if @location.twitter? %>
          <span>
            <%= link_to image_tag('twitter.jpg', :alt => 'Twitter'), @location.twitter_page_url, :target => :new %>
          </span>
        <% end -%>
        <% if @location.facebook? %>
          <strong>
            <%= link_to image_tag('facebook.jpg', :alt => 'Facebook'), @location.facebook_page_url, :target => :new %>
          </strong>
        <% end -%>
      </h2>
      <h3><%= @location.vicinity %><span id='get-directions-link'> - <a href="javascript:void(0)" id="direction_id">Get Directions</a></span></h3>
    </div>
            
    <% if @last_tweet -%>
      <div id='twitter-status' class="top_box">
        <%= link_to image_tag(@last_tweet.profile_image_url, :alt => 'Twitter'), @location.twitter_page_url, :target => :new %>
        <p>
          <%= auto_link( @last_tweet.text, :link => :urls, :html => {:target => :new} ).html_safe %>
          <span class='tweeted-at'>&nbsp;-&nbsp;<%= time_ago_in_words @last_tweet.created_at %> ago</span>
          <span class='follow-link'><%= link_to 'follow', @last_tweet.follow_url, :class => 'follow-link', :target => '_blank' %></span>
        </p>
        <div class="clear"></div>
      </div>
    <% end -%>

    <% if @last_post -%>
      <div id='facebook-status' class="threed_box">
        <%= link_to image_tag('fb.jpg', :alt => 'Facebook'), @location.facebook_page_url, :target => :new %>
        <p>
          <%= auto_link( @last_post.text, :link => :urls, :html => {:target => :new} ).html_safe %>
          <span class='follow-link'><%= link_to 'visit page', @location.facebook_page_url, :class => 'follow-link', :target => :new %></span>
        </p>
        <div class="clear"></div>
      </div>
    <% end -%>

    <div class="map_area">
      <div id='map_canvas'></div>
      <div class="black_pic">
        <%= render :partial => 'shared/ad_container' %>
      </div>
    </div>

  </div><!--content_left end-->

  <div class="sidebar"><!--sidebar start-->
    <div id='directions-sidebar'>
      <h2>Walking Directions</h2>
      <div id='directions-panel-detail'></div>
    </div>
    <% unless @location.deals.length == 0 %>
      <div id='deal-panel'>
        <h2>Today's Deal</h2>
        <% @location.deals.each do |deal| %>
          <p>
            <%= link_to deal.title, deal.url, :target => :new %>
          </p>
        <% end -%>
      </div>
    <% end -%>
    <% unless @user_saying.length == 0 -%>
      <div id='mentions-panel'>
        <h2>What People Are Saying</h2>
        <ul class='content'>
        <% @user_saying.each do |tweet| -%>
        <li>
          <div class="twitter_box">
            <div class="twitter_box_pic">
              <%= link_to image_tag(tweet.profile_image_url, :alt => 'Twitter'), tweet.twitter_page_url, :target => :new %>
            </div>
            <div class="twitter_box_txt">
              <h3><%= tweet.screen_name.titleize %> Says:</h3>
              <p>
                <%= auto_link( tweet.text, :link => :urls, :html => {:target => :blank} ).html_safe %>
              </p>
              <span class='tweeted-at'><%= time_ago_in_words tweet.created_at %> ago</span>
              <span class='follow-link'><%= link_to 'follow', tweet.follow_url, :class => 'follow-link', :target => '_blank' %></span>
            </div>
            <div class="clear"></div>
          </div>
        </li>
        <% end -%>
        </ul>
        <div class='page_navigation'></div>
      </div>
    <% end -%>
    <div class="clear"></div>
  </div><!--sidebar end-->
  <div class="clear"></div>
</div><!--content end-->