<%- @title = "#{@event.page_title}" %>

<script>
  $(document).ready(function() {
    $('#show-events').click();
  });
</script>

<div style="display:none">
  <% unless cookies[:address].blank? -%>
    <%= hidden_field_tag :orig_lat, cookies[:address].split('&')[0] %>
    <%= hidden_field_tag :orig_lng, cookies[:address].split('&')[1] %>
  <% end -%>
  <%= hidden_field_tag :dest_lat, @event.latitude %>
  <%= hidden_field_tag :dest_lng, @event.longitude %>
</div>  

<div id='place-detail' data-title='<%= @title %>'>
  <div class="top_info_sec">
    <div class="infoside flt_Lt">
      <div class="contact">
        <h1><%= @event.name %><br/><span><%= @event.vicinity %></span></h1>
      </div>
      <% unless @event.flyer_url.blank? -%>
        <p class='event-flyer-link'><%= link_to "View Event Flyer", @event.flyer_url, :title => @event.name, :class => :fancybox %></p>
      <% end -%>
      <% unless @event.start_date.blank? -%>
        <p class='event-date'>
          <%= @event.start_date.stamp("Sunday, January 1 at 6:30 pm") %>
          <% if @event.end_date -%>
            till <%= @event.end_date.stamp("7:00 pm")%>
          <% end -%><br/>
          <%= link_to 'Add to Calendar', ical_event_path(@event.id, :format => 'ics'), :id => 'add_to_calendar'%>
        </p>
      <% end -%>
      <% unless @event.venue.blank? -%>
        <h5 class='venue'><%= @event.venue %></h5>
      <% end -%>
    </div>
    
    <div class="mapside flt_Rt">
      <a href="javascript:void(0)" id="direction_id" class='flt_Rt'>Directions</a>
      <div class="clear_0">&nbsp;</div>
      <div id='map_canvas'></div>
    </div>
    <div class="clear_0"></div>

    <div id='event-description'>
      <p>
        <%= auto_link( simple_format(@event.description), :link => :urls, :html => {:target => :new} ).html_safe %>
      </p>
      <% unless @event.url.blank? -%>
        <p class='event-flyer-link'><%= link_to "More Info ...", @event.url, :title => @event.name, :target => :new %></p>
      <% end -%>
      <div class="clear_0"></div>
    </div>

  </div> <!-- end top_info section -->

  <div>
    <div id='directions-container'>
      <h5>Walking Directions</h5>
      <div id='directions-panel-detail'></div>
    </div>
    <% unless @event.tweets.empty? %>
      <div id='mentions-container' class="wat_day_saying wat_other_saying">
        <h5>What Others Are Saying</h5>
        <ul id='mentions-container'>
          <% @event.tweets.each do |tweet| %>
            <li>
              <span class="img">
                <%= link_to image_tag(tweet.profile_image_url, :width => 48, :height => 48, :alt => 'Twitter'), tweet.twitter_page_url, :target => :new %>
              </span>
              <div class="txtside flt_Rt">
                <h6><em><%= link_to "@#{tweet.screen_name}", :alt => 'Twitter', :target => '_blank' %></em><span class="flt_Rt"><%= time_ago_in_words tweet.created_at %></span> <span class="clear_0">&nbsp;</span></h6>
                <p>
                  <%= auto_link( tweet.text, :link => :urls, :html => {:target => :blank} ).html_safe %>
                </p>
              </div>
              <div class="clear_0"></div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <%= render :partial => 'shared/right_ad_container' %>
</div>