<%= render "script" %>
<div class="banner"><!--banner start-->
  <div class="banner_area">
    <form action="" method="get" id='place_search'>
      <label>Find a place to</label>
      <%= select_tag :types, options_for_select(LocationCategory.all.map{|lc| [lc.display_name, lc.name]}, params[:types]), :class => 'list_menu' %>
      <label>near</label>
      <%= text_field_tag :search, @search, :id => "searchTextField", :class => 'form_field' %>
      <%= submit_tag "", :name => nil, :class => 'button' %>
    </form>
  </div>
</div><!--banner end-->

<div class="content nopadd"><!--content start-->
  <div class="content_left padd"><!--content_left start-->
    <% @locations.each do |location| %>
      <div class="block">
        <p>
          <% if Location === location && can?(:update, location) %>
            <%= link_to 'Edit', edit_location_path(location), :class => 'inline' %>
          <% end %>
          <a href="<%= url_for(:action => 'details', :address => location.full_address,  :bizname => location.name , :type => location.types, :reference => location.reference)%>">
            <%= location.name %><strong><%= " - #{location.address}" unless location.address.blank? %></strong>
            <% if location.tweets? -%>
              <%= image_tag "twitter.jpg" %>
            <% end -%>
            <% if location.twitter_deal? -%>
              <span class='twitter-deal'>$</span>
            <% end -%>
            <% if location.recent_tweet? -%>
              <%= image_tag "flame.png" %>
            <% end -%>
            <% if location.deals? -%>
              <%= image_tag "yipit-logo.jpg" %>
            <% end -%>
            <span class='distance-from'><%= number_with_precision(location.distance_from(@coordinates), :precision => 1) %> miles</span>
          </a>
        </p>
      </div>
    <% end -%>
  </div><!--content_left end-->

  <div class="sidebar"><!--sidebar start-->
    <div class="sidebar_top">
      <div id="maps"></div>
    </div>
      <% unless @events.length == 0 %>
        <div class='sidebar_block sidebar_txt'>
          <h3>Nearby Events</h3>
          <% @events.each do |event| %>
            <p>
              <%= link_to event.name, event %>
            </p>
          <% end -%>
        </div>
      <% end -%>
      <% unless @deals.length == 0 %>
        <div class='sidebar_block sidebar_txt'>
          <h3>Nearby Deals</h3>
          <% @deals.each do |deal| %>
            <p>
              <%= link_to deal.title, deal.url, :target => :blank %>
            </p>
          <% end -%>
        </div>
      <% end -%>
  </div><!--sidebar end-->

  <div class="clear"></div>

</div><!--content end-->