<!DOCTYPE html>
<html>
  <head>
    <title>NearbyThis</title>
    <%= stylesheet_link_tag :all %>
    <%= yield :stylesheets %>  
    <%= javascript_include_tag :defaults %>
    <%= yield :javascripts %>  
    <%= csrf_meta_tag %>
  </head>
  <body onload="<%= "initialize()" unless location.nil? %>">
    <div class="container">    
      <% unless params[:action].eql?("details") %>
        <div class="auth">
          <%= link_to "Home", "/" %> || 
          <% if current_user.blank? %>
            <%= link_to "Login", "/users/sign_in" %>
          <% else %>
            <%= link_to "Events", "/events" %> || 
              <%= link_to "Advertises", "/advertises" %> || 
              <%= link_to "Signup Location", "/signup" %> || 
            <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
          <% end %>
        </div>
      <% end %>
      <div class="span-24">
        <% unless params[:action].eql?("details") %>
          <div id= "header-logo" class="span-24">
            <img src="http://stpaulshomecoming.com/images/header1.jpg" />
          </div>        
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
