<!DOCTYPE html>
<html>
  <head>
    <title>NearbyThis</title>
    <%= stylesheet_link_tag :all, "token-input-facebook" %>
    <%= yield :stylesheets %>  
    <%= javascript_include_tag :defaults, "jquery.tokeninput" %>
    <%= yield :javascripts %>  
    <%= csrf_meta_tag %>
  </head>
  <body onload="<%= "initialize()" if @location %>" onunload="GUnload();">    
    <div class="container">
      <div class="auth">
        <%= link_to "Home", "/" %> &nbsp; 
        <% if current_user.blank? %>
          <%= link_to "Login", "/users/sign_in" %>
        <% else %>            
          <% if current_user.role == "Promoter" or current_user.role == "Admin" %>
            <%= link_to "Events", "/events" %> &nbsp;  
          <% end %>
          <% if current_user.role == "Admin" %>&nbsp;
            <%= link_to "Ad Tracking", "/ad_trackings" %>
            <%= link_to "Advertise", "/advertises" %> || 
            <%= link_to "Users", "/users" %> &nbsp;  
          <% end %>
          <% if current_user.role == "User" or current_user.role == "Admin" %>
            <%= link_to "Signup", "/signup" %> &nbsp; 
          <% end %>
          <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
        <% end %>
      </div>
      <div class="span-24" >
        <div id= "header-logo" class="span-24"style="margin-left: 7px">
          <img src='/images/Nearbythis_Logo.png' />
        </div>  
        <%= yield %>
      </div>
  </body>
</html>
