<!DOCTYPE html>
<html>
  <head>
    <title>NearbyThis</title>
    <%= stylesheet_link_tag :all %>
    <%= yield :stylesheets %>  
    <%= javascript_include_tag :defaults %>
    <%= yield :javascripts %>  
    <%= csrf_meta_tag %>
  </head>
  <body onload="<%= "initialize()" unless location.nil? %>">
    <%= yield %>
  </body>
</html>
