<!DOCTYPE html>
<html>
  <head>
    <title>NearbyThis</title>
    <%= stylesheet_link_tag :all %>
    <%= yield :stylesheets %>  
    <%= javascript_include_tag :defaults %>
    <%= yield :javascripts %>  
    <%= csrf_meta_tag %>
  </head>
  <body onload="<%= "initialize()" unless location.nil? %>">
    <div class="container">       
      <div class="auth">    
        <%= link_to "Home", "/" %> || <%= link_to "Add Adv", "/advertises/new" %> || <%= link_to "Signup", "/signup" %>
      </div> 
      <div class="span-24">
        <div id= "header-logo" class="span-24">
          <img src="http://stpaulshomecoming.com/images/header1.jpg" />
        </div>        
        <%= yield %>
      </div>
    </div>
  </body>
</html>
